<footer>
    <div class="container-fluid">
      <i class="sm-icon fa-brands fa-instagram"></i>
      <i class="sm-icon fa-brands fa-twitter"></i>
      <i class="sm-icon fa-brands fa-telegram"></i>
      <i class="sm-icon fa-brands fa-facebook"></i>
      <p>© Copyright 2022 iwannaplay</p>
    </div>
  </footer>



  <script>
    VANTA.NET({
      el: ".bg",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00,
      backgroundColor: 0x0
    })
  </script>
</body>

</html>
